<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ColorManager.Properties.Settings>
            <setting name="Connect" serializeAs="String">
                <value>Server=ms-sql-10.in-solve.ru;Database=1gb_color-manager;User Id=1gb_kozhura-nsk;Password=d593e7db2qw;</value>
            </setting>
        </ColorManager.Properties.Settings>
    </applicationSettings>
</configuration>